block head
    head
        meta(charset='utf-8')
        title Stratagem
        style
            include ../public/style.css
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

body
    header
        h2#logo 
            a(href='/') Stratagem
        .user-info
            .profile
                a#profile-btn Profile
                .profileDropdown
                    a(href='/dashboard')#dashboard-btn Dashboard
                a(href='/logout')#signup-btn Logout
    .dashboard-layout
        div.sidebar-nav
            ul.projects-list
                li
                    a(href='/dashboard/projects') 
                        strong All Projects
                if (typeof(projects) !== 'undefined')
                    each project in projects
                        li
                            .title
                                a(href=project.url)= project.name
            button#createProj.posBtn Create New Project
            .createProjForm.hideForm
                p #{msg}
                form(method='post' action='/dashboard/projects')
                    input(type="text" name="name" placeholder="Project Name")
                    input(type="submit" value="Create").posBtn.btn
        if (layout == 'projects')
            .center
                div.project-header
                    span Title
                    span Number of Items
                    span Date Created
                    span 
                div.project-list
                    ul
                        each project in projects
                            li#project
                                .title
                                    a(href=project.url)= project.name
                                .count
                                    p= project.toDoItems.length
                                .dateCreated
                                    p= project.dateCreatedFormatted
                                .options
                                    svg#optionsBtn(viewbox='0 0 8 4' onClick=`toggleOptions('${project._id}')`)
                                        ellipse(cx='2' cy='2' rx='0.5' ry='0.5')
                                        ellipse(cx='4' cy='2' rx='0.5' ry='0.5')
                                        ellipse(cx='6' cy='2' rx='0.5' ry='0.5')
                                    form.projDel(action=project.url + '/delete' method='post' id=project._id).hideForm
                                        input#delBtn.btn(type="submit" value="Delete")
                            
            div.details
        if (layout == 'todoitems')
            .center
                div.item-header
                    .column-header 
                        p Complete
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=completed&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=completed&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                    .column-header
                        p Title
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=title&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=title&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                    .column-header
                        p Due
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dueDate&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dueDate&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10') 
                    .column-header
                        p Created
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dateCreated&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dateCreated&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                div.list
                    ul
                        if (typeof(toDoItems) !== 'undefined')
                            each item in toDoItems
                                li
                                    if (item.completed) 
                                        .checkbox
                                            form(method='post' action=item.url + '/update')
                                                input(type='hidden' name='completed' value='false')#incompleteCheckbox
                                                input(type='checkbox'
                                                checked
                                                onChange='this.form.submit()')#completeCheckbox
                                        .titleSmall(onClick=`loadDetails('${item._id}')`)
                                            p.completed= item.title
                                        .titleWide.hideForm
                                            a(href=item.url).completed= item.title
                                    else
                                        .checkbox
                                            form(method='post' action=item.url + '/update')
                                                input(type='checkbox' name='completed' value='true'
                                                onChange='this.form.submit()')#completeCheckbox
                                        .titleSmall(onClick=`loadDetails('${item._id}')`)
                                            p= item.title
                                        .titleWide.hideForm
                                            a(href=item.url)= item.title
                                    .dueDate
                                        p= item.dueDateFormatted
                                    .dateCreated
                                        p= item.dateCreatedFormatted
                                .dropdownDetails.hideForm(id=item._id)
                                    .details-content
                                        h4= item.title
                                        p= 'Project: ' + item.project.name
                                        p= 'Details: ' + item.description
                                        .due
                                            p= 'Due Date: ' + item.dueDateFormatted
                                        p= 'Date Created: ' + item.dateCreatedFormatted
                                        if (item.completed)
                                            p= 'Date Completed: ' + item.dateCompletedFormatted
                                        else
                                            p= 'Not Completed'
                                    button.editItem1.posBtn(onClick=`loadEditForm1('editForm:${item._id}', 'editBtn:${item._id}')` id=`editBtn:${item._id}`) Edit
                                    form(method='post' action=item.url + '/update' id=`editForm:${item._id}`).editItemForm1.hideForm
                                        label(for='title') Title
                                        input#title(type='text' name='title' value=item.title)
                                        label(for='description') Description
                                        textarea(name='description' id='description')= item.description
                                        label(for='dueDate') Due Date
                                        input(type="date" id='dueDate' name="dueDate" value=item.dueDateStandard)
                                        input(type="submit" value="Edit").posBtn.btn
                                    form(method='post' action=item.url + '/delete')
                                        input(type="submit" value="Delete")#delBtn.btn
                        li.createForm
                            button#createItem.posBtn Create New Item
                            form(method='post' action='/dashboard/projects/' + selected_project).createItemForm.hideForm
                                label(for='completeCheckbox') Mark Completed
                                input(type='checkbox' name='completed' id='completeCheckbox' value='true')
                                input(type='text' name='title' placeholder='Title')
                                textarea(placeholder="Description" name="description")
                                input(type="date" name="dueDate")
                                input(type="submit" value="Create").posBtn.btn
            div.details
                if (typeof(selected_item) !== 'undefined')
                    .details-content
                        h4= selected_item.title
                        p= 'Project: ' + selected_item.project.name
                        p= 'Details: ' + selected_item.description
                        .due
                            p= 'Due Date: ' + selected_item.dueDateFormatted
                        p= 'Date Created: ' + selected_item.dateCreatedFormatted
                        if (selected_item.completed)
                            p= 'Date Completed: ' + selected_item.dateCompletedFormatted
                        else
                            p= 'Not Completed'

                    button#editItem2.posBtn Edit
                    form(method='post' action=selected_item.url + '/update').editItemForm2.hideForm
                        label(for='title') Title
                        input#title(type='text' name='title' value=selected_item.title)
                        label(for='description') Description
                        textarea(name='description' id='description')= selected_item.description
                        label(for='dueDate') Due Date
                        input(type="date" id='dueDate' name="dueDate" value=selected_item.dueDateStandard)
                        input(type="submit" value="Edit").posBtn.btn
                    form(method='post' action=selected_item.url + '/delete')
                        input(type="submit" value="Delete")#delBtn.btn

script(src='/public/scripts/load-forms.js')
script(src="/public/scripts/put_request.js")
script.

    var profileDrop = document.querySelector('.profileDropdown');

    function loadEditForm1(formId, btnId) {
        var form = document.getElementById(formId)
        form.classList.toggle('hideForm');
        var btn = document.getElementById(btnId);
        if(form.classList.contains('hideForm')) {
            btn.innerText = 'Edit';
        } else {
            btn.innerText = 'Cancel';
        }
    }

    function loadDropdown() {
        profileDrop.classList.remove('hideForm')
    }

    function removeDropdown() {
        profileDrop.classList.add('hideForm')
    }

    function toggleOptions(id) {
        const projDelForm = document.getElementById(id)
        projDelForm.classList.toggle('hideForm')
    }

    function changeDetailsLoc() {
        if (document.querySelector('body').clientWidth <= 1000) {
            
            document.querySelectorAll('.titleSmall').forEach((container) => {
                container.classList.remove('hideForm');
            })
            document.querySelectorAll('.titleWide').forEach((container) => {
                container.classList.add('hideForm');
            })
        } else {
            document.querySelectorAll('.titleSmall').forEach((container) => {
                container.classList.add('hideForm');
            })
            document.querySelectorAll('.titleWide').forEach((container) => {
                container.classList.remove('hideForm');
            })
        }
    }

    function loadDetails(id) {
        document.getElementById(id).classList.toggle('hideForm');
    }

    changeDetailsLoc() // Check window width every time page is loaded
    
    window.onbeforeunload = changeDetailsLoc;
    window.onresize= changeDetailsLoc;