block head
    head
        meta(charset='utf-8')
        title Dashboard | Stratagem
        style
            include ../public/style.css
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

body
    include header
    .dashboard-layout
        div.sidebar-nav
            ul
                li
                    a(href='/dashboard/projects') 
                        strong All Projects
                if (typeof(projects) !== 'undefined')
                    each project in projects
                        li
                            a(href=project.url)= project.name
            button#createProj.neutralBtn(onClick='loadCreateProjectForm()') Create New Project
            .createProjForm.hide
                form(method='post' action='/dashboard/projects')
                    input(type="text" name="name" placeholder="Project Name")
                    input(type="submit" value="Create").posBtn.pointer
        if (layout == 'projects')
            .table
                div.project-header
                    div
                        p Title
                        .sortingArrows
                            a(href=`/dashboard/projects/?sortBy=name&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href=`/dashboard/projects/?sortBy=name&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                    span Number of Items
                    span Date Created
                    span 
                div.project-list
                    ul
                        each project in projects
                            li
                                .title
                                    a(href=project.url)= project.name
                                .count
                                    p= project.toDoItems.length
                                .dateCreated
                                    p= project.dateCreatedFormatted
                                .options
                                    svg#optionsBtn(viewbox='0 0 8 4' onClick=`toggleOptions('${project._id}')`)
                                        ellipse(cx='2' cy='2' rx='0.5' ry='0.5')
                                        ellipse(cx='4' cy='2' rx='0.5' ry='0.5')
                                        ellipse(cx='6' cy='2' rx='0.5' ry='0.5')
                                    form.projDel(action=project.url + '/delete' method='post' id=project._id).hide
                                        input.delBtn.pointer(type="submit" value="Delete")
                            
            div.details
        if (layout == 'todoitems')
            .table
                div.item-header
                    div 
                        p Complete
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=completed&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=completed&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                    div
                        p Title
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=title&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=title&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                    div
                        p Due
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dueDate&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dueDate&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10') 
                    div
                        p Created
                        .sortingArrows
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dateCreated&orderBy=desc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 0, 5 10, 10 0')
                            a(href='/dashboard/projects/' + selected_project + `?sortBy=dateCreated&orderBy=asc`).sortBy
                                svg(height='10px' width='10px')
                                    polygon(points='0 10, 5 0, 10 10')
                div.toDoList
                    ul
                        if (typeof(toDoItems) !== 'undefined')
                            each item in toDoItems
                                li
                                    if (item.completed) 
                                        .checkbox
                                            form(method='post' action=item.url + '/update')
                                                input(type='hidden' name='completed' value='false')#incompleteCheckbox
                                                input(type='checkbox'
                                                checked
                                                onChange='this.form.submit()')#completeCheckbox
                                        .titleSmall(onClick=`loadDetails('${item._id}')`)
                                            p.completed= item.title
                                        a(href=item.url).titleWide.hide
                                            p= item.title
                                    else
                                        .checkbox
                                            form(method='post' action=item.url + '/update')
                                                input(type='checkbox' name='completed' value='true'
                                                onChange='this.form.submit()')#completeCheckbox
                                        .titleSmall(onClick=`loadDetails('${item._id}')`)
                                            p= item.title
                                        a(href=item.url).titleWide.hide
                                            p= item.title
                                    .dueDate
                                        if (item.overDue)
                                            p.overDue= item.dueDateFormatted
                                        else
                                            p= item.dueDateFormatted
                                    .dateCreated
                                        p= item.dateCreatedFormatted
                                .dropdownDetails.hide(id=item._id)
                                    .details-content
                                        h4= item.title
                                        p= 'Project: ' + item.project.name
                                        p= 'Details: ' + item.description
                                        .due
                                            p= 'Due Date: ' + item.dueDateFormatted
                                        p= 'Date Created: ' + item.dateCreatedFormatted
                                        if (item.completed)
                                            p= 'Date Completed: ' + item.dateCompletedFormatted
                                        else
                                            p= 'Not Completed'
                                    button.editItem1.neutralBtn(onClick=`loadEditForm('editForm:${item._id}', 'editBtn:${item._id}')` id=`editBtn:${item._id}`) Edit
                                    form(method='post' action=item.url + '/update' id=`editForm:${item._id}`).editItemForm1.hide
                                        label(for='title') Title
                                        input#title(type='text' name='title' value=item.title)
                                        label(for='description') Description
                                        textarea(name='description' id='description')= item.description
                                        label(for='dueDate') Due Date
                                        input(type="date" id='dueDate' name="dueDate" value=item.dueDateStandard)
                                        input(type="submit" value="Edit").posBtn.pointer
                                    form(method='post' action=item.url + '/delete')
                                        input(type="submit" value="Delete").delBtn.pointer
                        li.createItemSection
                            button#itemCreateBtn.neutralBtn(onClick='loadCreateItemForm()') Create New Item
                            form(method='post' action='/dashboard/projects/' + selected_project).createItemForm.hide
                                label(for='completeCheckbox') Mark Completed
                                input(type='checkbox' name='completed' id='completeCheckbox' value='true')
                                input(type='text' name='title' placeholder='Title' required='true')
                                textarea(placeholder="Description" name="description")
                                input(type="date" name="dueDate")
                                input(type="submit" value="Create").posBtn.pointer
            div.details
                if (typeof(selected_item) !== 'undefined')
                    .details-content
                        h4= selected_item.title
                        p= 'Project: ' + selected_item.project.name
                        p= 'Details: ' + selected_item.description
                        .due
                            p= 'Due Date: ' + selected_item.dueDateFormatted
                        p= 'Date Created: ' + selected_item.dateCreatedFormatted
                        if (selected_item.completed)
                            p= 'Date Completed: ' + selected_item.dateCompletedFormatted
                        else
                            p= 'Not Completed'

                    button#editItem2.neutralBtn(onClick="loadEditForm('editItemForm2', 'editItem2')") Edit
                    form(method='post' action=selected_item.url + '/update')#editItemForm2.hide
                        label(for='title') Title
                        input#title(type='text' name='title' value=selected_item.title)
                        label(for='description') Description
                        textarea(name='description' id='description')= selected_item.description
                        label(for='dueDate') Due Date
                        input(type="date" id='dueDate' name="dueDate" value=selected_item.dueDateStandard)
                        input(type="submit" value="Edit").posBtn.pointer
                    form(method='post' action=selected_item.url + '/delete')
                        input(type="submit" value="Delete").delBtn.pointer

script.

    var profileDrop = document.querySelector('.profileDropdown');

    function loadEditForm(formId, btnId) {
        var form = document.getElementById(formId)
        form.classList.toggle('hide');
        var btn = document.getElementById(btnId);
        if(form.classList.contains('hide')) {
            btn.innerText = 'Edit';
        } else {
            btn.innerText = 'Cancel';
        }
    }

    function loadCreateItemForm() {
        const itemCreateForm = document.querySelector('.createItemForm');
        const itemCreateBtn = document.getElementById('itemCreateBtn');
        itemCreateForm.classList.toggle('hide');
        if(itemCreateForm.classList.contains('hide')) {
            itemCreateBtn.innerText = 'Create New Item';
        } else {
            itemCreateBtn.innerText = 'Cancel';
        }
    }

    function loadCreateProjectForm() {
        const projCreateBtn = document.getElementById('createProj');
        const projCreateForm = document.querySelector('.createProjForm');

        projCreateForm.classList.toggle('hide');
        if(projCreateForm.classList.contains('hide')) {
            projCreateBtn.innerText = 'Create New Project';
        } else {
            projCreateBtn.innerText = 'Cancel';
        }
    }

    function loadDropdown() {
        profileDrop.classList.remove('hide')
    }

    function removeDropdown() {
        profileDrop.classList.add('hide')
    }

    function toggleOptions(id) {
        const projDelForm = document.getElementById(id)
        projDelForm.classList.toggle('hide')
    }

    function changeDetailsLoc() {
        if (document.querySelector('body').clientWidth <= 1000) {
            
            document.querySelectorAll('.titleSmall').forEach((container) => {
                container.classList.remove('hide');
            })
            document.querySelectorAll('.titleWide').forEach((container) => {
                container.classList.add('hide');
            })
        } else {
            document.querySelectorAll('.titleSmall').forEach((container) => {
                container.classList.add('hide');
            })
            document.querySelectorAll('.titleWide').forEach((container) => {
                container.classList.remove('hide');
            })
        }
    }

    function loadDetails(id) {
        document.getElementById(id).classList.toggle('hide');
    }

    changeDetailsLoc() // Check window width every time page is loaded
    
    window.onbeforeunload = changeDetailsLoc;
    window.onresize= changeDetailsLoc;